@model IEnumerable<Clip_Back.DAL.Entities.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nro_telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nro_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_registro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
