@model IEnumerable<Clip_Back.DAL.Entities.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Vencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Vencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nro_factura }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nro_factura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nro_factura })
        </td>
    </tr>
}

</table>
