@model Clip_Back.DAL.Entities.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvu_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvu_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nro_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nro_Factura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_servicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
